<div>
    <div class="gallery-item_big col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <figure>
            <a href="">
                <div class="gallery-item_img">
                    <img class="img-responsive item" src="" alt="">
                </div>
                <figcaption class="gallery-item_desc gallery-item_desc--big">
                    <p class="gallery-item_desc-title"></p>
                    <span class="gallery-item_desc-count">24 снимки</span>
                </figcaption>
            </a>
        </figure>
    </div>
</div>