<div>
    <ol class="content">
        <li class="sliderItem">
            <div class="sliderItem_img">
                <img src="" alt="" class="item img-responsive">
            </div>
            <div class="sliderItem_count">
                <span class="sliderItem_num"></span>
                <span class="sliderItem_line">/</span>
                <span class="sliderItem_total"></span>
            </div>
            <div class="sliderItem_description">
                <p class="sliderItem_description-text"></p>
                <p class="sliderItem_description-subtext">
                    <span class="sliderItem_description-author"></span>
                    <span class="sliderItem_description-line">/</span>
                    <span class="sliderItem_description-media"></span>
                </p>
            </div>
        </li>
    </ol>
</div>

